* {
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(#ddddff, #dfd6fa, #cfcaee);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  min-height: 789px;
  max-width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.02), 0px 32px 64px rgba(44, 39, 56, 0.04);
  border-radius: 24px;
  padding: 40px 30px;
  .form {
    display: flex;
    flex-direction: column;

    &__title {
      margin: 0;
      font-weight: bold;
      font-size: 34px;
      color: #2c2738;
    }

    &__descr {
      color: #2c2738;
      font-size: 16px;
      font-weight: 400;
      margin-top: 9px;
      margin-bottom: 24px;
      a {
        color: #0880ae;
        font-weight: 400;
        font-size: 16px;
      }
    }

    &__input {
      padding: 16px 16px 16px 15px;
      margin-top: 7px;
      background-color: #fff;
      border: 1px solid #dbe2ea;
      box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
      border-radius: 6px;
      color: #2c2738;
      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        color: #7c9cbf;
        font-style: 400;
      }
      &:focus {
        border: 2px solid #0880ae;
        box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
        border-radius: 6px;
        outline: none;
      }
    }

    &__label {
      display: block;
      margin-top: 34px;
      font-weight: 500;
      font-size: 16px;
      color: #756f86;
    }

    &__checkbox {
      margin-top: 31px;
    }
    &__btn {
      padding: 18px 121px 17px 121px;
      cursor: pointer;
      margin-top: 36px;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      color: #ebf4f8;
      background: #0880ae;
      box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08), 0px 4px 8px rgba(44, 39, 56, 0.08);
      border-radius: 6px;
      border: none;
      @media (max-width: 460px) {
        padding-left: 50px;
        padding-right: 50px;
      }
      &:disabled {
        color: #b1b5bf;
        background: #dbe2ea;
        border: none;
      }
    }
    .error {
      color: #ff7171;
      margin-top: 8px;
      font-size: 14px;
    }
  }

  // Dropdown
  .dropdown {
    user-select: none;
    margin-top: 7px;
    position: relative;
    outline: none;
    &__btn {
      padding: 16px 0px 16px 15px;
      background: #fff;
      border-radius: 6px;
      display: flex;
      align-items: center;
      outline: none;
      cursor: pointer;
      justify-content: space-between;
      border: 1px solid #dbe2ea;
      box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
      font-weight: 400;
      font-size: 16px;
      color: #7c9cbf;
      img {
        margin-right: 21px;
      }
      &:focus {
        border: 2px solid #0880ae;
        box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
        color: #2c2738;
      }
    }
    &__content {
      position: absolute;
      top: 110%;
      left: 0;
      padding: 12px 0px 12px 0px;
      background: #fff;
      font-weight: 500;
      border: 1px solid #dbe2ea;
      box-sizing: border-box;
      box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04), 0px 20px 20px rgba(44, 39, 56, 0.04);
      border-radius: 6px;
      width: 100%;
      min-height: 200px;
    }
    &__item {
      padding: 11px 0px 11px 16px;
      cursor: pointer;
      color: #7c9cbf;
      transition: all 0.2s;
      &:hover {
        background: #ebf4f8;
      }
    }
  }

  // Checkbox

  .label-wrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 36px;
  }

  .checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    width: 28px;
    margin-right: 10px;
    cursor: pointer;
  }
  .checkbox + label::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #dbe2ea;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 4px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .checkbox:checked + label::before {
    border: 2px solid #0880ae;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 4px;
    background-image: url("./icons/checked.svg");
  }
  .checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #0880ae;
  }
  .checkbox:disabled + label::before {
    background-color: #e9ecef;
  }

  .conditions-use {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #756f86;
    @media (max-width: 370px) {
      font-size: 15px;
    }
    @media (max-width: 350px) {
      font-size: 13px;
    }
    a {
      color: #0880ae;
    }
  }
}
