* {
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  // background-color: #e5e5e5;
  background: linear-gradient(#ddddff, #dfd6fa, #cfcaee);
  // background: #83a4d4; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   #b6fbff,
  //   #83a4d4
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  min-height: 789px;
  max-width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.02), 0px 32px 64px rgba(44, 39, 56, 0.04);
  border-radius: 24px;
  padding: 40px 30px;
  .form {
    display: flex;
    flex-direction: column;

    &__title {
      margin: 0;
      font-weight: bold;
      font-size: 34px;
      color: #2c2738;
    }

    &__descr {
      color: #2c2738;
      font-size: 16px;
      font-weight: 400;
      margin-top: 9px;
      margin-bottom: 24px;
      a {
        color: #0880ae;
        font-weight: 400;
        font-size: 16px;
      }
    }

    &__input {
      width: 400px;
      padding: 16px 0px 16px 15px;
      margin-top: 7px;
      background-color: #fff;
      border: 1px solid #dbe2ea;
      box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
      border-radius: 6px;
      color: #2c2738;
      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        color: #7c9cbf;
        font-style: 400;
      }
      &:focus {
        border: 2px solid #0880ae;
        box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
        border-radius: 6px;
        outline: none;
      }
    }

    &__label {
      display: block;
      margin-top: 34px;
      font-weight: 500;
      font-size: 16px;
      color: #756f86;
    }

    &__checkbox {
      margin-top: 31px;
    }
    &__btn {
      width: 350px;
      height: 30px;
      margin: 0 auto;
      cursor: pointer;
    }
  }
}

// DROPDOWN

.dropdown {
  width: 400px;
  user-select: none;
  margin-top: 7px;
  position: relative;
  outline: none;
  &__btn {
    padding: 16px 0px 16px 15px;
    background: #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    justify-content: space-between;
    border: 1px solid #dbe2ea;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    font-weight: 400;
    font-size: 16px;
    color: #7c9cbf;
    img {
      margin-right: 21px;
    }
    &:focus {
      border: 2px solid #0880ae;
      box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
      color: #2c2738;
    }
  }
  &__content {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 12px 0px 12px 0px;
    background: #fff;
    font-weight: 500;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04), 0px 20px 20px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    width: 100%;
  }
  &__item {
    padding: 11px 0px 11px 16px;
    cursor: pointer;
    color: #7c9cbf;
    transition: all 0.2s;
    &:hover {
      background: #ebf4f8;
    }
  }
}
