body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 460px;
  border: 1px solid black;
  position: absolute;
  border-radius: 20px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
}

input {
  margin: 0 auto;

  width: 350px;
  height: 30px;
  margin-bottom: 40px;
}

button {
  width: 350px;
  height: 30px;
  margin: 0 auto;
}

select {
  width: 350px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
